@using TechShop.Models;
@using Infrastructure.Enums;
@model CheckoutViewModel;
@section script{
    <script src="~/js/checkout/checkout.js"></script>
}
	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<h3 class="breadcrumb-header">Checkout</h3>
					<ul class="breadcrumb-tree">
						<li><a href="#">Home</a></li>
						<li class="active">Checkout</li>
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
		@if (Model.cart!=null && Model.Payments.Count > 0)
		{
			<!-- row -->
			<div class="row">
				<div class="col-md-7">
					<!-- Billing Details -->
					<form id="frm-customer-info" class="billing-details" method="post" action="/checkout/CheckoutCart">
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Billing address</h3>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="FirstName" placeholder="First Name">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="LastName" placeholder="Last Name">
							</div>
							<div class="form-group">
								<input class="input" type="email" name="Email" placeholder="Email">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="Address" placeholder="Address">
							</div>						
							<div class="form-group">
								<input class="input" type="tel" name="PhoneNumber" placeholder="Telephone">
							</div>					
						</div>
					</form>
					<!-- /Billing Details -->

					<!-- Shipping details -->
					<!--///////////////////	-->

					
				</div>

				<!-- Order Details -->
				<div class="col-md-5 order-details">
					<div class="section-title text-center">
						<h3 class="title">Your Order</h3>
					</div>
					<div class="order-summary">
						<div class="order-col">
							<div><strong>PRODUCT</strong></div>
							<div><strong>TOTAL</strong></div>
						</div>

						@foreach (var item in Model.cart)
						{
							<div class="order-col">
								<div>@item.ProductName</div>
								<div>@item.Price</div>							
							</div>
						}	

						<div class="order-col">
							<div>Shiping</div>
							<div><strong>FREE</strong></div>
						</div>
						<div class="order-col">
							<div><strong>TOTAL</strong></div>	
							<div><strong class="order-total">$@Model.cart.Sum(x=>x.Price)</strong></div>

						</div>
					</div>

					<div class="payment-method">
						@foreach (var item in Model.Payments)
						{
							<input type="radio" name="payment" />
							<label>@item.Value</label>
						}
						<div class="input-radio">
							<input type="radio" name="payment" id="payment-1">
							<label for="payment-1">
								<span></span>
								Direct Bank Transfer
							</label>
							<div class="caption">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>					
					</div>
					<div class="input-checkbox">
						<input type="checkbox" id="terms">
						<label for="terms">
							<span></span>
							I've read and accept the <a href="#">terms & conditions</a>
						</label>
					</div>
					<a href="#" class="primary-btn order-submit" id="place-order-btn">Place order</a>
				</div>
				<!-- /Order Details -->
			</div>
			<!-- /row -->
		}
			</div>
		
		<!-- /container -->
	</div>
	<!-- /SECTION -->
	